[dotenv@17.3.1] injecting env (8) from .env.local -- tip: ≡ƒñû agentic secret storage: https://dotenvx.com/as2
≡ƒöì Getting embedding for: "What are Hubs in Data Vault?"

Γ£à Got embedding: 384 dimensions
First 5 values: [
  0.01240559946745634,
  -0.01652526669204235,
  -0.06929384171962738,
  -0.0173447597771883,
  0.04344723001122475
]

================================================================================

≡ƒôï EXACT SQL QUERY TO RUN IN SUPABASE:

-- Copy and paste this entire query into Supabase SQL Editor


-- Test query for "What are Hubs in Data Vault?"
SELECT 
  c.id,
  c.content,
  c.doc_type,
  c.metadata,
  d.filename,
  (1 - (c.embedding <=> (
    SELECT array_agg(value::float)::vector(384)
    FROM jsonb_array_elements_text('[0.01240559946745634,-0.01652526669204235,-0.06929384171962738,-0.0173447597771883,0.04344723001122475,-0.0360727459192276,-0.06788697838783264,0.027635175734758377,0.017052730545401573,-0.016390258446335793,0.04154064133763313,0.07713652402162552,0.10131551325321198,-0.06460575014352798,-0.029243003576993942,-0.011178605258464813,0.03652394935488701,-0.06498423218727112,-0.02069818042218685,-0.02009464055299759,-0.06937655061483383,-0.013041865080595016,-0.084615059196949,-0.02569514326751232,0.0027476707473397255,-0.027476700022816658,0.019465673714876175,0.026829633861780167,0.013417172245681286,-0.0021222373470664024,-0.02920936420559883,-0.02096598967909813,0.02892383001744747,0.08423489332199097,-0.008733251132071018,0.008932556957006454,0.0496659092605114,0.025351744145154953,-0.08867143839597702,-0.03635883703827858,0.04377736151218414,-0.09286316484212875,0.003512391820549965,0.025560690090060234,0.006895771250128746,0.006831076927483082,-0.07214608788490295,-0.03822340816259384,-0.016555555164813995,0.0030357984360307455,-0.01805172860622406,-0.04007728770375252,-0.027982618659734726,0.15325911343097687,-0.012006153352558613,0.07374197989702225,0.01669159159064293,0.10444729775190353,0.006949119735509157,-0.024279093369841576,0.10935822874307632,-0.08236884325742722,-0.032305873930454254,-0.013554261066019535,0.05074603855609894,0.013151506893336773,0.046833448112010956,0.049644745886325836,0.06408248096704483,-0.10037337243556976,0.0022892996203154325,-0.06141296774148941,-0.07199760526418686,0.056530386209487915,0.019533809274435043,0.013880426995456219,-0.04256969317793846,-0.004769126418977976,0.01658858358860016,-0.0476004034280777,-0.03722342103719711,0.05573911964893341,-0.01677088439464569,0.010695455595850945,-0.045533452183008194,0.043975476175546646,-0.07322961091995239,-0.014890778809785843,-0.04687843844294548,-0.044792309403419495,-0.00011931605695281178,-0.022894814610481262,0.0015601166523993015,-0.0014415777986869216,-0.05153598636388779,-0.01283297874033451,0.0006518422742374241,-0.058707043528556824,0.015289751812815666,-0.013115249574184418,-0.004699216689914465,0.031688008457422256,-0.009836597368121147,-0.028024256229400635,-0.05434512719511986,-0.023732749745249748,-0.01406022533774376,-0.003909067250788212,-0.0032046413980424404,0.02478630468249321,-0.017233915627002716,0.03065679967403412,-0.053160130977630615,-0.07314945012331009,-0.028787465766072273,-0.020228546112775803,-0.120388463139534,0.08953091502189636,-0.02939128689467907,-0.016186479479074478,0.018733883276581764,0.0074489121325314045,0.05677118897438049,-0.05904596671462059,0.003559991018846631,-0.06989913433790207,-0.06629668921232224,-4.613398761166906e-33,-0.01751609705388546,0.04001295939087868,-0.011605632491409779,0.014314688742160797,0.023026809096336365,-0.04660456255078316,-0.04089205339550972,0.006880463100969791,-0.0019969099666923285,0.04393331706523895,0.0009575489675626159,0.08113083243370056,-0.01677182875573635,-0.04554936662316322,0.042011894285678864,-0.04501061514019966,-0.033017463982105255,0.07200121879577637,0.01799141988158226,0.0017635817639529705,-0.0163031704723835,0.06332310289144516,0.01757609099149704,-0.006186184473335743,0.10095629841089249,0.006781626958400011,0.010401563718914986,-0.02399294450879097,0.0733475461602211,0.01365460641682148,-0.06567716598510742,0.042129576206207275,-0.01628090813755989,0.0036136817652732134,0.06123335659503937,0.04784674197435379,-0.025233477354049683,-0.11193078756332397,-0.04154049605131149,0.00672193942591548,0.020434128120541573,-0.015952719375491142,-0.03518155589699745,-0.09324536472558975,-0.025236528366804123,0.01080932468175888,0.051442138850688934,-0.018933234736323357,0.07287037372589111,0.0026552260387688875,0.03244969621300697,-0.045905157923698425,-0.06676275283098221,0.0419321171939373,0.009567813947796822,-0.019509144127368927,0.02849130518734455,-0.09975467622280121,0.04954959824681282,0.1255623698234558,-0.05790923908352852,-0.039596617221832275,0.03773607686161995,0.029635637998580933,-0.06745190918445587,-0.0034413388930261135,0.02742011472582817,-0.02688760869204998,0.04874548688530922,0.0871877670288086,-0.021723266690969467,0.026322662830352783,0.01643894612789154,0.023153958842158318,0.00701316399499774,-0.018801841884851456,-0.10632357746362686,0.03302624449133873,-0.09324129670858383,0.02177366055548191,-0.07612738013267517,-0.09436430782079697,-0.02209714986383915,0.06452678143978119,-0.07510427385568619,0.06019793078303337,-0.01930258981883526,-0.01131882332265377,0.017776641994714737,-0.010265144519507885,-0.03884361311793327,0.06254202127456665,0.037564244121313095,-0.0029265768826007843,-0.04008353129029274,2.917219187647886e-33,-0.04749061167240143,-0.024165833368897438,-0.05084099620580673,0.08658672869205475,0.0433896966278553,0.06227421388030052,0.04345320910215378,-0.03893269971013069,-0.03743750974535942,0.006553139071911573,-0.03271133080124855,0.01438142079859972,0.03730621561408043,-0.05368267372250557,0.06156137213110924,0.01956111751496792,0.02546069771051407,-0.097310870885849,0.012142008170485497,-0.031056897714734077,-0.001031102379783988,-0.0942218229174614,-0.026832925155758858,0.004725683480501175,0.03642075136303902,0.020018404349684715,-0.053136806935071945,0.006762076634913683,0.039556484669446945,0.05664679408073425,-0.00016484531806781888,-0.028907036408782005,0.021331464871764183,0.022776316851377487,-0.03331799805164337,-0.012647733092308044,0.04596170783042908,-0.008069412782788277,-0.07475357502698898,-0.05584027245640755,-0.021986965090036392,-0.013860773295164108,-0.08433244377374649,0.0650721937417984,-0.03522911295294762,-0.04331764206290245,0.0024929125793278217,0.07202298194169998,0.01861598528921604,-0.05004304274916649,0.114865243434906,0.04710036888718605,0.02249712124466896,0.0016881354385986924,-0.05774736404418945,0.13088853657245636,0.05222928896546364,0.11147995293140411,0.06716382503509521,0.03366848826408386,0.07392708957195282,-0.01886335387825966,0.0064485203474760056,0.10643705725669861,-0.028848178684711456,0.018972432240843773,0.10089194029569626,0.017797570675611496,-0.1708638072013855,0.07075182348489761,0.09546388685703278,-0.0020748921670019627,0.113448366522789,-0.02025962434709072,0.002742666518315673,-0.029363473877310753,0.03467904403805733,-0.041574716567993164,0.011259347200393677,-0.006285341922193766,-0.03002423234283924,0.02755350060760975,0.0391351655125618,0.0666503757238388,0.03394967317581177,0.0037554919254034758,0.00003962318442063406,-0.02431211620569229,-0.03032967634499073,0.010440068319439888,-0.10453961044549942,-0.030112100765109062,-0.0920189768075943,0.0822804793715477,0.0232774019241333,-1.4101805057009642e-8,-0.04215455800294876,-0.03179512172937393,-0.07873107492923737,-0.027476215735077858,-0.011626657098531723,-0.07453278452157974,0.046130500733852386,0.17439424991607666,0.006429115775972605,0.04314747825264931,0.052024565637111664,-0.05151762068271637,-0.1131989136338234,-0.00012472845264710486,0.10370334982872009,0.029122494161128998,0.06123384088277817,-0.031016550958156586,-0.05055017024278641,0.010588018223643303,0.004190788138657808,0.013781651854515076,-0.028783390298485756,-0.063146211206913,0.03781145066022873,0.05767453834414482,0.08083587884902954,0.1799246072769165,0.05957459658384323,0.016407951712608337,-0.02439040318131447,-0.07232712209224701,0.057873353362083435,-0.03166961297392845,-0.019926223903894424,0.10232918709516525,-0.007376234047114849,0.06100441887974739,0.0793134868144989,0.0584464929997921,-0.05824676528573036,-0.031174002215266228,0.012635047547519207,0.00742080993950367,-0.032751794904470444,0.009321259334683418,-0.09931943565607071,0.030958859249949455,0.011050000786781311,0.015513844788074493,-0.07113263010978699,-0.009433936327695847,-0.017040280625224113,0.022382257506251335,0.03126014396548271,0.0031053691636770964,-0.012083143927156925,-0.06674697995185852,0.040008947253227234,0.05451195687055588,-0.01524786651134491,-0.007919007912278175,0.05659253150224686,0.005723271984606981]'::jsonb)
  ))) as similarity
FROM chunks c
JOIN documents d ON d.id = c.document_id
WHERE TRUE  -- no doc_type filter
ORDER BY c.embedding <=> (
  SELECT array_agg(value::float)::vector(384)
  FROM jsonb_array_elements_text('[0.01240559946745634,-0.01652526669204235,-0.06929384171962738,-0.0173447597771883,0.04344723001122475,-0.0360727459192276,-0.06788697838783264,0.027635175734758377,0.017052730545401573,-0.016390258446335793,0.04154064133763313,0.07713652402162552,0.10131551325321198,-0.06460575014352798,-0.029243003576993942,-0.011178605258464813,0.03652394935488701,-0.06498423218727112,-0.02069818042218685,-0.02009464055299759,-0.06937655061483383,-0.013041865080595016,-0.084615059196949,-0.02569514326751232,0.0027476707473397255,-0.027476700022816658,0.019465673714876175,0.026829633861780167,0.013417172245681286,-0.0021222373470664024,-0.02920936420559883,-0.02096598967909813,0.02892383001744747,0.08423489332199097,-0.008733251132071018,0.008932556957006454,0.0496659092605114,0.025351744145154953,-0.08867143839597702,-0.03635883703827858,0.04377736151218414,-0.09286316484212875,0.003512391820549965,0.025560690090060234,0.006895771250128746,0.006831076927483082,-0.07214608788490295,-0.03822340816259384,-0.016555555164813995,0.0030357984360307455,-0.01805172860622406,-0.04007728770375252,-0.027982618659734726,0.15325911343097687,-0.012006153352558613,0.07374197989702225,0.01669159159064293,0.10444729775190353,0.006949119735509157,-0.024279093369841576,0.10935822874307632,-0.08236884325742722,-0.032305873930454254,-0.013554261066019535,0.05074603855609894,0.013151506893336773,0.046833448112010956,0.049644745886325836,0.06408248096704483,-0.10037337243556976,0.0022892996203154325,-0.06141296774148941,-0.07199760526418686,0.056530386209487915,0.019533809274435043,0.013880426995456219,-0.04256969317793846,-0.004769126418977976,0.01658858358860016,-0.0476004034280777,-0.03722342103719711,0.05573911964893341,-0.01677088439464569,0.010695455595850945,-0.045533452183008194,0.043975476175546646,-0.07322961091995239,-0.014890778809785843,-0.04687843844294548,-0.044792309403419495,-0.00011931605695281178,-0.022894814610481262,0.0015601166523993015,-0.0014415777986869216,-0.05153598636388779,-0.01283297874033451,0.0006518422742374241,-0.058707043528556824,0.015289751812815666,-0.013115249574184418,-0.004699216689914465,0.031688008457422256,-0.009836597368121147,-0.028024256229400635,-0.05434512719511986,-0.023732749745249748,-0.01406022533774376,-0.003909067250788212,-0.0032046413980424404,0.02478630468249321,-0.017233915627002716,0.03065679967403412,-0.053160130977630615,-0.07314945012331009,-0.028787465766072273,-0.020228546112775803,-0.120388463139534,0.08953091502189636,-0.02939128689467907,-0.016186479479074478,0.018733883276581764,0.0074489121325314045,0.05677118897438049,-0.05904596671462059,0.003559991018846631,-0.06989913433790207,-0.06629668921232224,-4.613398761166906e-33,-0.01751609705388546,0.04001295939087868,-0.011605632491409779,0.014314688742160797,0.023026809096336365,-0.04660456255078316,-0.04089205339550972,0.006880463100969791,-0.0019969099666923285,0.04393331706523895,0.0009575489675626159,0.08113083243370056,-0.01677182875573635,-0.04554936662316322,0.042011894285678864,-0.04501061514019966,-0.033017463982105255,0.07200121879577637,0.01799141988158226,0.0017635817639529705,-0.0163031704723835,0.06332310289144516,0.01757609099149704,-0.006186184473335743,0.10095629841089249,0.006781626958400011,0.010401563718914986,-0.02399294450879097,0.0733475461602211,0.01365460641682148,-0.06567716598510742,0.042129576206207275,-0.01628090813755989,0.0036136817652732134,0.06123335659503937,0.04784674197435379,-0.025233477354049683,-0.11193078756332397,-0.04154049605131149,0.00672193942591548,0.020434128120541573,-0.015952719375491142,-0.03518155589699745,-0.09324536472558975,-0.025236528366804123,0.01080932468175888,0.051442138850688934,-0.018933234736323357,0.07287037372589111,0.0026552260387688875,0.03244969621300697,-0.045905157923698425,-0.06676275283098221,0.0419321171939373,0.009567813947796822,-0.019509144127368927,0.02849130518734455,-0.09975467622280121,0.04954959824681282,0.1255623698234558,-0.05790923908352852,-0.039596617221832275,0.03773607686161995,0.029635637998580933,-0.06745190918445587,-0.0034413388930261135,0.02742011472582817,-0.02688760869204998,0.04874548688530922,0.0871877670288086,-0.021723266690969467,0.026322662830352783,0.01643894612789154,0.023153958842158318,0.00701316399499774,-0.018801841884851456,-0.10632357746362686,0.03302624449133873,-0.09324129670858383,0.02177366055548191,-0.07612738013267517,-0.09436430782079697,-0.02209714986383915,0.06452678143978119,-0.07510427385568619,0.06019793078303337,-0.01930258981883526,-0.01131882332265377,0.017776641994714737,-0.010265144519507885,-0.03884361311793327,0.06254202127456665,0.037564244121313095,-0.0029265768826007843,-0.04008353129029274,2.917219187647886e-33,-0.04749061167240143,-0.024165833368897438,-0.05084099620580673,0.08658672869205475,0.0433896966278553,0.06227421388030052,0.04345320910215378,-0.03893269971013069,-0.03743750974535942,0.006553139071911573,-0.03271133080124855,0.01438142079859972,0.03730621561408043,-0.05368267372250557,0.06156137213110924,0.01956111751496792,0.02546069771051407,-0.097310870885849,0.012142008170485497,-0.031056897714734077,-0.001031102379783988,-0.0942218229174614,-0.026832925155758858,0.004725683480501175,0.03642075136303902,0.020018404349684715,-0.053136806935071945,0.006762076634913683,0.039556484669446945,0.05664679408073425,-0.00016484531806781888,-0.028907036408782005,0.021331464871764183,0.022776316851377487,-0.03331799805164337,-0.012647733092308044,0.04596170783042908,-0.008069412782788277,-0.07475357502698898,-0.05584027245640755,-0.021986965090036392,-0.013860773295164108,-0.08433244377374649,0.0650721937417984,-0.03522911295294762,-0.04331764206290245,0.0024929125793278217,0.07202298194169998,0.01861598528921604,-0.05004304274916649,0.114865243434906,0.04710036888718605,0.02249712124466896,0.0016881354385986924,-0.05774736404418945,0.13088853657245636,0.05222928896546364,0.11147995293140411,0.06716382503509521,0.03366848826408386,0.07392708957195282,-0.01886335387825966,0.0064485203474760056,0.10643705725669861,-0.028848178684711456,0.018972432240843773,0.10089194029569626,0.017797570675611496,-0.1708638072013855,0.07075182348489761,0.09546388685703278,-0.0020748921670019627,0.113448366522789,-0.02025962434709072,0.002742666518315673,-0.029363473877310753,0.03467904403805733,-0.041574716567993164,0.011259347200393677,-0.006285341922193766,-0.03002423234283924,0.02755350060760975,0.0391351655125618,0.0666503757238388,0.03394967317581177,0.0037554919254034758,0.00003962318442063406,-0.02431211620569229,-0.03032967634499073,0.010440068319439888,-0.10453961044549942,-0.030112100765109062,-0.0920189768075943,0.0822804793715477,0.0232774019241333,-1.4101805057009642e-8,-0.04215455800294876,-0.03179512172937393,-0.07873107492923737,-0.027476215735077858,-0.011626657098531723,-0.07453278452157974,0.046130500733852386,0.17439424991607666,0.006429115775972605,0.04314747825264931,0.052024565637111664,-0.05151762068271637,-0.1131989136338234,-0.00012472845264710486,0.10370334982872009,0.029122494161128998,0.06123384088277817,-0.031016550958156586,-0.05055017024278641,0.010588018223643303,0.004190788138657808,0.013781651854515076,-0.028783390298485756,-0.063146211206913,0.03781145066022873,0.05767453834414482,0.08083587884902954,0.1799246072769165,0.05957459658384323,0.016407951712608337,-0.02439040318131447,-0.07232712209224701,0.057873353362083435,-0.03166961297392845,-0.019926223903894424,0.10232918709516525,-0.007376234047114849,0.06100441887974739,0.0793134868144989,0.0584464929997921,-0.05824676528573036,-0.031174002215266228,0.012635047547519207,0.00742080993950367,-0.032751794904470444,0.009321259334683418,-0.09931943565607071,0.030958859249949455,0.011050000786781311,0.015513844788074493,-0.07113263010978699,-0.009433936327695847,-0.017040280625224113,0.022382257506251335,0.03126014396548271,0.0031053691636770964,-0.012083143927156925,-0.06674697995185852,0.040008947253227234,0.05451195687055588,-0.01524786651134491,-0.007919007912278175,0.05659253150224686,0.005723271984606981]'::jsonb)
)
LIMIT 8;


================================================================================

≡ƒôï OR USE THE FUNCTION (simpler):


-- Using match_chunks function
SELECT * FROM match_chunks(
  '[0.01240559946745634,-0.01652526669204235,-0.06929384171962738,-0.0173447597771883,0.04344723001122475,-0.0360727459192276,-0.06788697838783264,0.027635175734758377,0.017052730545401573,-0.016390258446335793,0.04154064133763313,0.07713652402162552,0.10131551325321198,-0.06460575014352798,-0.029243003576993942,-0.011178605258464813,0.03652394935488701,-0.06498423218727112,-0.02069818042218685,-0.02009464055299759,-0.06937655061483383,-0.013041865080595016,-0.084615059196949,-0.02569514326751232,0.0027476707473397255,-0.027476700022816658,0.019465673714876175,0.026829633861780167,0.013417172245681286,-0.0021222373470664024,-0.02920936420559883,-0.02096598967909813,0.02892383001744747,0.08423489332199097,-0.008733251132071018,0.008932556957006454,0.0496659092605114,0.025351744145154953,-0.08867143839597702,-0.03635883703827858,0.04377736151218414,-0.09286316484212875,0.003512391820549965,0.025560690090060234,0.006895771250128746,0.006831076927483082,-0.07214608788490295,-0.03822340816259384,-0.016555555164813995,0.0030357984360307455,-0.01805172860622406,-0.04007728770375252,-0.027982618659734726,0.15325911343097687,-0.012006153352558613,0.07374197989702225,0.01669159159064293,0.10444729775190353,0.006949119735509157,-0.024279093369841576,0.10935822874307632,-0.08236884325742722,-0.032305873930454254,-0.013554261066019535,0.05074603855609894,0.013151506893336773,0.046833448112010956,0.049644745886325836,0.06408248096704483,-0.10037337243556976,0.0022892996203154325,-0.06141296774148941,-0.07199760526418686,0.056530386209487915,0.019533809274435043,0.013880426995456219,-0.04256969317793846,-0.004769126418977976,0.01658858358860016,-0.0476004034280777,-0.03722342103719711,0.05573911964893341,-0.01677088439464569,0.010695455595850945,-0.045533452183008194,0.043975476175546646,-0.07322961091995239,-0.014890778809785843,-0.04687843844294548,-0.044792309403419495,-0.00011931605695281178,-0.022894814610481262,0.0015601166523993015,-0.0014415777986869216,-0.05153598636388779,-0.01283297874033451,0.0006518422742374241,-0.058707043528556824,0.015289751812815666,-0.013115249574184418,-0.004699216689914465,0.031688008457422256,-0.009836597368121147,-0.028024256229400635,-0.05434512719511986,-0.023732749745249748,-0.01406022533774376,-0.003909067250788212,-0.0032046413980424404,0.02478630468249321,-0.017233915627002716,0.03065679967403412,-0.053160130977630615,-0.07314945012331009,-0.028787465766072273,-0.020228546112775803,-0.120388463139534,0.08953091502189636,-0.02939128689467907,-0.016186479479074478,0.018733883276581764,0.0074489121325314045,0.05677118897438049,-0.05904596671462059,0.003559991018846631,-0.06989913433790207,-0.06629668921232224,-4.613398761166906e-33,-0.01751609705388546,0.04001295939087868,-0.011605632491409779,0.014314688742160797,0.023026809096336365,-0.04660456255078316,-0.04089205339550972,0.006880463100969791,-0.0019969099666923285,0.04393331706523895,0.0009575489675626159,0.08113083243370056,-0.01677182875573635,-0.04554936662316322,0.042011894285678864,-0.04501061514019966,-0.033017463982105255,0.07200121879577637,0.01799141988158226,0.0017635817639529705,-0.0163031704723835,0.06332310289144516,0.01757609099149704,-0.006186184473335743,0.10095629841089249,0.006781626958400011,0.010401563718914986,-0.02399294450879097,0.0733475461602211,0.01365460641682148,-0.06567716598510742,0.042129576206207275,-0.01628090813755989,0.0036136817652732134,0.06123335659503937,0.04784674197435379,-0.025233477354049683,-0.11193078756332397,-0.04154049605131149,0.00672193942591548,0.020434128120541573,-0.015952719375491142,-0.03518155589699745,-0.09324536472558975,-0.025236528366804123,0.01080932468175888,0.051442138850688934,-0.018933234736323357,0.07287037372589111,0.0026552260387688875,0.03244969621300697,-0.045905157923698425,-0.06676275283098221,0.0419321171939373,0.009567813947796822,-0.019509144127368927,0.02849130518734455,-0.09975467622280121,0.04954959824681282,0.1255623698234558,-0.05790923908352852,-0.039596617221832275,0.03773607686161995,0.029635637998580933,-0.06745190918445587,-0.0034413388930261135,0.02742011472582817,-0.02688760869204998,0.04874548688530922,0.0871877670288086,-0.021723266690969467,0.026322662830352783,0.01643894612789154,0.023153958842158318,0.00701316399499774,-0.018801841884851456,-0.10632357746362686,0.03302624449133873,-0.09324129670858383,0.02177366055548191,-0.07612738013267517,-0.09436430782079697,-0.02209714986383915,0.06452678143978119,-0.07510427385568619,0.06019793078303337,-0.01930258981883526,-0.01131882332265377,0.017776641994714737,-0.010265144519507885,-0.03884361311793327,0.06254202127456665,0.037564244121313095,-0.0029265768826007843,-0.04008353129029274,2.917219187647886e-33,-0.04749061167240143,-0.024165833368897438,-0.05084099620580673,0.08658672869205475,0.0433896966278553,0.06227421388030052,0.04345320910215378,-0.03893269971013069,-0.03743750974535942,0.006553139071911573,-0.03271133080124855,0.01438142079859972,0.03730621561408043,-0.05368267372250557,0.06156137213110924,0.01956111751496792,0.02546069771051407,-0.097310870885849,0.012142008170485497,-0.031056897714734077,-0.001031102379783988,-0.0942218229174614,-0.026832925155758858,0.004725683480501175,0.03642075136303902,0.020018404349684715,-0.053136806935071945,0.006762076634913683,0.039556484669446945,0.05664679408073425,-0.00016484531806781888,-0.028907036408782005,0.021331464871764183,0.022776316851377487,-0.03331799805164337,-0.012647733092308044,0.04596170783042908,-0.008069412782788277,-0.07475357502698898,-0.05584027245640755,-0.021986965090036392,-0.013860773295164108,-0.08433244377374649,0.0650721937417984,-0.03522911295294762,-0.04331764206290245,0.0024929125793278217,0.07202298194169998,0.01861598528921604,-0.05004304274916649,0.114865243434906,0.04710036888718605,0.02249712124466896,0.0016881354385986924,-0.05774736404418945,0.13088853657245636,0.05222928896546364,0.11147995293140411,0.06716382503509521,0.03366848826408386,0.07392708957195282,-0.01886335387825966,0.0064485203474760056,0.10643705725669861,-0.028848178684711456,0.018972432240843773,0.10089194029569626,0.017797570675611496,-0.1708638072013855,0.07075182348489761,0.09546388685703278,-0.0020748921670019627,0.113448366522789,-0.02025962434709072,0.002742666518315673,-0.029363473877310753,0.03467904403805733,-0.041574716567993164,0.011259347200393677,-0.006285341922193766,-0.03002423234283924,0.02755350060760975,0.0391351655125618,0.0666503757238388,0.03394967317581177,0.0037554919254034758,0.00003962318442063406,-0.02431211620569229,-0.03032967634499073,0.010440068319439888,-0.10453961044549942,-0.030112100765109062,-0.0920189768075943,0.0822804793715477,0.0232774019241333,-1.4101805057009642e-8,-0.04215455800294876,-0.03179512172937393,-0.07873107492923737,-0.027476215735077858,-0.011626657098531723,-0.07453278452157974,0.046130500733852386,0.17439424991607666,0.006429115775972605,0.04314747825264931,0.052024565637111664,-0.05151762068271637,-0.1131989136338234,-0.00012472845264710486,0.10370334982872009,0.029122494161128998,0.06123384088277817,-0.031016550958156586,-0.05055017024278641,0.010588018223643303,0.004190788138657808,0.013781651854515076,-0.028783390298485756,-0.063146211206913,0.03781145066022873,0.05767453834414482,0.08083587884902954,0.1799246072769165,0.05957459658384323,0.016407951712608337,-0.02439040318131447,-0.07232712209224701,0.057873353362083435,-0.03166961297392845,-0.019926223903894424,0.10232918709516525,-0.007376234047114849,0.06100441887974739,0.0793134868144989,0.0584464929997921,-0.05824676528573036,-0.031174002215266228,0.012635047547519207,0.00742080993950367,-0.032751794904470444,0.009321259334683418,-0.09931943565607071,0.030958859249949455,0.011050000786781311,0.015513844788074493,-0.07113263010978699,-0.009433936327695847,-0.017040280625224113,0.022382257506251335,0.03126014396548271,0.0031053691636770964,-0.012083143927156925,-0.06674697995185852,0.040008947253227234,0.05451195687055588,-0.01524786651134491,-0.007919007912278175,0.05659253150224686,0.005723271984606981]'::jsonb,
  8,
  NULL
);


================================================================================
Γ£à Copy either query above and run it in Supabase SQL Editor
